@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  height: 30%;
  background-color: rgb(131,132,139);
  border-radius: 10px;
  height: 60%;
}

body::-webkit-scrollbar-track {
  background-color: #0d1117
}

.customscrollbar {
  overflow-x:hidden;
}

.customscrollbar::-webkit-scrollbar {
	width: 10px;
	background-color: #F5F5F5;
}

.customscrollbar::-webkit-scrollbar-thumb {
  height: 30%;
  background-color: rgb(131,132,139);
  border-radius: 10px;
  height: 60%;
  
}

.customscrollbar::-webkit-scrollbar-track {
  background-color: #0d1117
}


@font-face {
  font-family: 'BinggraeSamanco-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/BinggraeSamanco-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareNeo-Variable';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'NanumSquareNeo-Variable';
  overflow-x:hidden;
}

#logo {
  font-family: 'BinggraeSamanco-Bold';
}
/* body {
  width: 100%;
  
  overflow-y: hidden;
} */
.julgi {
  filter: drop-shadow(0px 0px 2px rgb(0 0 0 / 0.2));
}

g .main-node {
  filter: drop-shadow(0px 0px 2px rgb(0 0 0 / 0.2));
  cursor: pointer;
}

g .sub-node {
  filter: drop-shadow(0px 0px 2px rgb(0 0 0 / 0.2));
  cursor: pointer;
}

text {
  font-weight: bold;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}